 <div id="map"></div>
 <br><br>

<p><span class="label">Given address:</span>
<span id="address"><%= given_address %></span></p>
<p><span class="label">Closest store:</span>
<span id="store"><%= closest_store %></span></p>
