 <div id="map"></div>
 <br><br>

<p><span class="label">Given address:</span>
<span class="address"><%= given_address %></span></p>
<p><span class="label">Closest store:</span>
<span class="address"><%= closest_store %></span></p>
